body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://external-preview.redd.it/7wkv7hmcXm70ASIX2BH8fEKav_bfzkKKyX-U-neS8sE.jpg?auto=webp&s=38b6e61e057ee58774c36c51a439e210f4105eda");
  background-position: center;
  background-repeat: no-repeat;
}
.header {
  display: flex;
  padding-left: 3vw;
  background-color: rgb(0, 0, 0, 0.2);
}
.trello-img {
  padding-left: 27vw;
}
.boardButton {
  margin-top: 1vw;
}
p {
  margin: 0;
}
